body{
margin: 0px;
}

.dataset-page {
background-color: #fff;
display: flex;
flex-direction: column;
overflow: hidden;
}

.hero-section {
position: relative;
min-height: 720px;
width: 100%;
display: contents;
padding-bottom: 22px;
}

@media (max-width: 991px) {
.hero-section {
max-width: 100%;
}
}

.hero-image {
position: absolute;
inset: 0;
height: 100%;
width: 100%;
object-fit: cover;
object-position: center;
}

.nav-section {
position: relative;
display: flex;
width: 90%;
justify-content: flex-end;
padding: 34px 70px;
font: 500 25px JetBrains Mono, sans-serif;
color: #fff;
}

a{
text-decoration: none;
}

@media (max-width: 991px) {
.nav-section {
max-width: 100%;
padding: 0 20px;
}
}

.nav-items {
display: flex;
list-style-type: none;
align-items: center;
gap: 55px;
}

.nav-link {
text-decoration: none;
color: inherit;
}

.nav-link-active {
font-size: 28px;
font-weight: 700;
}

.dataset-frame {
position: relative;
border-radius: 10px;
background-color: rgba(30, 31, 38, 0.76);
align-self: center;
width: 80%;
max-width: 1650px;
padding: 25px 39px;
font: 400 28px Inter, sans-serif;
color: #fff;
}

@media (max-width: 991px) {
.dataset-frame {
    max-width: 100%;
    padding: 0 20px;
}
}

.dataset-content {
max-height: 538px;
overflow: hidden;
overflow-y: auto;
scroll-behavior: smooth; 
}

.dataset-content::-webkit-scrollbar {
width: 3px; 
}

.dataset-content::-webkit-scrollbar-track {
background: transparent;
border-radius: 3px; 
}

.dataset-content::-webkit-scrollbar-thumb {
background-color: #3d3e4d; 
border-radius: 10px; 
border: 0px solid #f1f1f1; 
}

.dataset-link {
text-decoration: underline;
color: inherit;
}

.feature-list {
list-style-type: none;
padding-left: 0;
font: 400 24px Inter, sans-serif;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border: 0;
}

.intro-para{
font: 400 24px Inter, sans-serif;
}