body{
    margin: 0px;
}

.yield-prediction-page {
background-color: #fff;
display: flex;
flex-direction: column;
overflow: hidden;
}

.main-container {
display: flex;
flex-direction: column;
position: relative;
min-height: 720px;
width: 100%;
padding-bottom: 22px;
}

@media (max-width: 991px) {
.main-container {
    max-width: 100%;
}
}

.background-image {
position: absolute;
inset: 0;
height: 100%;
width: 100%;
object-fit: cover;
object-position: center;
}

.navigation {
position: relative;
background-color: transparent;
display: flex;
width: 90%;
flex-direction: column;
overflow: hidden;
align-items: flex-end;
color: #fff;
white-space: nowrap;
justify-content: center;
padding: 30px 70px;
font: 500 25px JetBrains Mono, sans-serif;
}

@media (max-width: 991px) {
.navigation {
    max-width: 100%;
    white-space: initial;
    padding: 0 20px;
}
}

.nav-items {
display: flex;
min-height: 50px;
align-items: center;
gap: 40px 55px;
list-style-type: none;
justify-content: flex-end;
}

@media (max-width: 991px) {
.nav-items {
    white-space: initial;
}
}

.nav-item {
align-self: stretch;
margin: auto 0;
}

.nav-link-active {
font-size: 28px;
font-weight: 700;
}

.content-wrapper {
position: relative;
border-radius: 10px;
background-color: rgba(30, 31, 38, 0.76);
align-self: center;
width: 100%;
max-width: 1220px;
padding: 30px 45px;
}

@media (max-width: 991px) {
.content-wrapper {
    max-width: 100%;
    padding: 0 20px;
}
}

.content-container {
gap: 20px;
display: flex;
}

@media (max-width: 991px) {
.content-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
}
}

.input-column {
display: flex;
flex-direction: column;
line-height: normal;
width: 57%;
margin-left: 0;
}

@media (max-width: 991px) {
.input-column {
    width: 100%;
}
}

.input-form {
border-radius: 10px;
background-color: rgba(30, 31, 38, 0.45);
position: relative;
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
margin: 0 auto;
padding: 19px 20px;
border: 1px solid #1e1f26;
}

@media (max-width: 991px) {
.input-form {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
}
}

.form-title {
color: #fff;
text-align: center;
font: 500 28px JetBrains Mono, sans-serif;
border: 1px solid #1e1f26;
}

@media (max-width: 991px) {
.form-title {
    max-width: 100%;
}
}

.form-content {
align-self: stretch;
margin-top: 44px;
}

@media (max-width: 991px) {
.form-content {
    max-width: 100%;
    margin-top: 40px;
}
}

.form-row {
gap: 20px;
display: flex;
}

@media (max-width: 991px) {
.form-row {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
}
}

.label-column {
display: flex;
flex-direction: column;
line-height: normal;
width: 50%;
margin-left: 0;
}

@media (max-width: 991px) {
.label-column {
    width: 100%;
}
}

.label-container {
display: flex;
flex-direction: column;
color: #fff;
font: 500 18px JetBrains Mono, sans-serif;
}

@media (max-width: 991px) {
.label-container {
    margin-top: 40px;
}
}

.form-label {
align-self: flex-start;
border: 1px solid #1e1f26;
margin-top: 24px;
}

.form-label:first-child {
margin-top: 0;
}

.input-column {
display: flex;
flex-direction: column;
line-height: normal;
width: 50%;
margin-left: 20px;
}

@media (max-width: 991px) {
.input-column {
    width: 100%;
}
}

.input-container {
display: flex;
width: 100%;
flex-direction: column;
margin-right: 20px;
}

@media (max-width: 991px) {
.input-container {
    margin-top: 40px;
}
}

.form-input {
border-radius: 8px;
border: 1px solid #1e1f26;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
background-color: #fff;
display: flex;
padding-right: 10px;
padding-left: 10px;
font: 500 18px JetBrains Mono, sans-serif;
height: 29px;
color:#283655;
margin-top: 11px;
}

.form-input:first-child {
margin-top: 0;
}

.predict-button {
align-self: stretch;
border-radius: 8px;
background-color: #283655;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
margin-top: 32px;
width: 175px;
max-width: 100%;
gap: 8px;
align-self: center;
color: #fff;
padding: 14px 18px 14px 19px;
font: 500 18px JetBrains Mono, sans-serif;
border: 1px solid #1e1f26;
}

.output-column {
display: flex;
flex-direction: column;
line-height: normal;
width: 43%;
margin-left: 20px;
}

@media (max-width: 991px) {
.output-column {
    width: 100%;
}
}

.output-container {
position: relative;
display: flex;
flex-grow: 1;
flex-direction: column;
}

@media (max-width: 991px) {
.output-container {
    max-width: 100%;
    margin-top: 40px;
}
}

.image-wrapper {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
height: 100%;
background-color: rgba(30, 31, 38, 0.6);
display: flex;
flex-direction: column;
justify-content: center;
padding: 38px 80px;
margin-top: 30px;
margin-left: 46px;
border: 3px solid #1e1f26;
border-bottom: 0px;
}

@media (max-width: 991px) {
.image-wrapper {
    max-width: 100%;
    padding: 0 20px;
}
}

.output-image {
aspect-ratio: 1.19;
object-fit: contain;
object-position: center;
width: 100%;
}

.prediction-result {
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background-color: rgba(30, 31, 38, 0.6);
color: #fff;
text-align: center;
padding: 0px 47px;
margin-top: 0px;
margin-left: 45px;
padding-bottom: 50px;
font: 400 30px JetBrains Mono, sans-serif;
border: 3px solid #1e1f26;
border-top: 0px;
}

.result-value{
font: 400 50px JetBrains Mono, sans-serif;
}

@media (max-width: 991px) {
.prediction-result {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
}
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border: 0;
}

a{
    color: white;
    text-decoration: none;
}